# Gradle temporary files and output
.gradle/
.vscode/
build/

# Kotlin management files
.kotlin/

# IDEA specific files
.idea/
*.iml
*.iws

# Eclipse specific files
.settings/
.classpath
.project

# Log files
*.log

# Cosas
Entrega/
app/src/main/java/POO07-315113758-OBREGONHERNANDEZRAMSESALEJANDRO.zip